/* footer CSS、bg圖還沒放*/

body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Noto Sans TC', cursive;
}



.nav{
    /*固定頂端*/
    background-color: #ffffff; 
    display: flex;
    
    align-items: center;
    top:0;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1; /*第一層*/

  
    
} 


.nav_bar{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    justify-content: space-between ;

}

.nav_title{
    
    justify-content: flex-start;
    text-align: center;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
    margin-top: 10px;
    margin-bottom:10px;
    
}


.top_buttum{
    
    display: flex ;
    justify-content: flex-end;
    flex-direction: row;

}


.forNavigation{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    width: 84px;
    color: #666666 ;
    border:none;
    background-color: #FFFFFF;
    cursor:pointer;    
}


.welcome{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 91px;
    height: 400px;

}

.section{
    display: flex;
    width: 1200px;
    position:absolute;        
    height: auto;    
  
    height: 400px;
}

.slideshow-container{
    width: 540px;
    height: 406px;
    display: flex;
    justify-content: center;
    position: relative;

}

.img-control{
    width :100%; 
    height: 100% ;
    overflow:hidden; 
    object-fit: cover;
    border-radius: 5px;
}


.mySlides{
    width: 100%;
    height: 100%;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.left-A{
    width: 36px;
    height: 36px;
    position:absolute;
    left: 10px;
    top:50%;
    cursor: pointer;
    opacity: 80%;
}

.right-A{
    width: 36px;
    height: 36px;
    position:absolute;
    right: 10px;
    top:50%;
    cursor: pointer;
    opacity: 80%;
}

.circle-box{
    position: absolute;
    bottom: 10px;
    justify-content: center;
    height: 12px;
    /* background-color: #0d5865; */
    width: 100%;
    display: flex;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 999em;
    background-color:  #FFFFFF;
    opacity: 80%;
    /* position: absolute; */    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    cursor: pointer;
}

.active, .dot:hover {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.8); ;
    border: 2px solid #ffffff;    
    cursor: pointer;
    opacity: 80%;

}


.back_home{
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}


.profile{
   
    width: 600px;
    height: 400px;
    margin-left: 60px;
}

.name{
    
    color:#666666;
    width: 600px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /* line-height: 24px; */
    display: flex;
    align-items: center;
}

.detail{
    width: auto;    
    margin-top: 15px;
}

.detail_text{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color:#666666;
}

.booking_area{
    background-color: #E8E8E8;
    border-radius: 5px;
    width: 600px;
    height: 302px;
    margin-top: 20px;
    padding-top: 15px;
}

.booking-title{
    
    margin: 15px 20px ;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    /* line-height: 13px; */
    color: #666666;
}

.booking-intro{
    margin: 15px 20px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 13px; */
    color: #666666;
}

.booking-date{
    margin: 15px 20px;
    display: flex;
    
}

.booking-choose{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    color: #666666;
    text-align: center;

}

.calender{
    margin-left: 5px;   
    height: 35px;
    width: 193px;
    border: none;
    /* padding: 5px 5px 10px 10px; */
}


.booking-time{
    margin: 15px 20px;
    height: 35px;
    display: flex;  
}


.day-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    width: 193px;
    height: 35px;
}


.what-time{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
    color: #666666;
}

.big-circle{
    background-color: #FFFFFF;
    width: 22px;
    height: 22px;
    border-radius: 999rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.small-circle{
    background-color: #448899;
    width: 18px;
    height: 18px;
    border-radius: 999rem;
    cursor: pointer;
}

#night{
    display: none;
}

.booking-fee{
    margin: 15px 20px;
    height: 35px;
    display: flex;
}

.fee{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    line-height: 35px;
    margin-left: 5px;
}


.booking-btn{
    margin: 0px 40px 20px 20px;
    background-color: #448899;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 15px 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
}

hr{
    border: 1px solid #E8E8E8;
    margin-top: 40px;
    width: 1200px;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    margin-top: 54px;
    display:flex;
    width: 1200px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between ;
    /* margin: 30px; */
    padding: 10px;
}

.info{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666 ;
    margin-bottom: 20px;
    width: 100%;
}

.content-title{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
}

.address{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    width: 100%;
    margin-bottom: 20px ;
}

.traffic{
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    width: 100%;
}

.footer{
    margin-top: 40px;
    height: 10vh;
    background-image: url("footer.jpg");
    background-position:top center;
    background-size: cover;

}

.date-notice{
    color: #9d312d;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    margin-left: 20px;
    width: 265px;
}

.high-date-notice{
    height: 350px;
}

@media (max-width:660px){
    .high-date-notice{
        height: 380px;
    }
}


@media (max-width:1200px){

    .nav_bar{
        width: 90%;
    }


    .section{
        width: 80%;
        flex-wrap: wrap;
        margin-bottom: 454px;
        
    }



    .content{
        width: 80%;
    }

    hr{
        width: 80%;
        margin-top:80px;
    }

    .welcome{
        height: 800px;
    }
    .profile{
        width: 80%;
        margin-top: 30px;
    }

    .name{
        width: auto;
    }

    .booking_area{
        width: auto;
    }
    
    .slideshow-container{
        width: 100%;
    }
}


@media (max-width:600px){
    .nav_bar{
        width: 100%;
    }



    .section{
        
        width: 100%;
    }

    .slideshow-container{
        height: 360px;
    }

    .profile{
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
        width: 100%;

    }

    .booking_area{
        height: auto;
    }
    .booking-choose{
        font-size: 13px;
    }

    
}


@media (max-width:360px){
    .nav_title{
        font-size: 25px;
    }
}
