<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <meta meta name="viewport" content="width=device-width, initial-scale=1">
    <title>景點頁面</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/attraction.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}">

</head>
    
<style>
    @import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);
</style>

<body>
    <div class ="nav">
        <div class = "nav_bar">
            <a class = "back_home"  href = "/">
            <txt class = "nav_title">
                台北一日遊
            </txt>
            </a>

            <div class="top_buttum">
                <button class = "forNavigation" id = "booking">預定行程</button><!-- link will be right in <a> -->                                   
                <button class = "forNavigation" id = "login_signup">登入/註冊</button>                    
            </div>
        </div>
    </div>

    <div class = "dialog-background" style="display: none;">
        <div class = "dialog-signup"   style="display : none ;">
            <div class = "decorator-bar"></div>
            <div class = "dialog-main" >
                <txt class = "dialog-title">
                    註冊會員帳號
                    <img class = "icon_close" src = "/mysource/icon_close.png" />
                </txt>
                <input class = "dialog-input" id = "name" type="text" name = "name" placeholder = "輸入姓名" required />
                <input class = "dialog-input" id = "email" type="text" name = "email" placeholder = "輸入email" required />
                <input class = "dialog-input" id = "password" type="password" name = "password" placeholder = "輸入密碼" required />                
                <button class = "signup" type="submit">註冊新帳戶</button>
                <!-- 預留插入警告<txt> -->
                <txt class = notice></txt>                
                <button class = "switch-login">已經有帳戶了?點此登入</button>
            </div>        
            

        </div>

        <div class = "dialog-login"  >
            <div class = "decorator-bar"></div>
            <div class = "dialog-main">
                <txt class = "dialog-title">
                    登入會員帳號
                    <img class = "icon_close_login" src = "/mysource/icon_close.png" />
                </txt>
                <input class = "dialog-input" id = "email-login" type="text" name = "email" placeholder = "輸入email" required />
                <input class = "dialog-input" id = "password-login" type="password" name = "password" placeholder = "輸入密碼" required />
                <button class = "login">登入帳戶</button>                
                <!-- 預留插入警告<txt> -->
                <txt class = notice-login></txt>
                <button class = "switch-signup">還沒有帳戶?點此註冊</button>
            </div>

        </div>
    </div> <!-- dialog-background -->

    <div class = "welcome">
        <div class="section">
            <div class = "slideshow-container">
                <!-- <div class = "mySlides fade"> -->
                <!-- <img class = "img-control" src="/mysource/G.jpg"/> -->
                <!-- </div> -->
                <img class = "left-A" src="/mysource/left-A.png" />
                <img class = "right-A" src="/mysource/right-A.png"/>
                <div class = "circle-box"></div>              


            </div>


            <div class="profile">
                <txt class = "name"></txt>

                <div class="detail">
                    <txt class="detail_text" id = "tag"></txt><!--塞tag-->
                    <txt class="detail_text">at</txt> <!--固定-->
                    <txt class="detail_text" id = "mrt"></txt><!--塞mrt-->
                </div>

                <div class = "booking_area">
                    <txt class = "booking-title">訂購導覽行程</txt>
                    <!-- <br />
                    <br /> -->
                    <p class = "booking-intro">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <div class = "booking-date">
                        <txt class = "booking-choose">訂購日期 :</txt>
                        <input type = "date" class = "calender"></input>
                        
                    </div>
                    <txt class = "date-notice" style="display: none;"></txt>
                    
                    <div class = "booking-time">

                        <txt class = "booking-choose">選擇時間 :</txt>
                        <div class = "day-time">

                            <div class = "big-circle" id = "big-day">
                                <div class = "small-circle" id = "day"></div>
                            </div>
                            <txt class="what-time" >上半天</txt>
                            <div class = "big-circle" id = "big-night">
                                <div class = "small-circle" id = "night"></div>
                            </div>
                            <txt class="what-time" >下半天</txt>

                        </div>

                    </div>

                    <div class = "booking-fee">
                        <txt class = "booking-choose">導覽費用 :</txt>
                        <div class = "fee">新台幣2000元</div> <!--寫事件做改變費用textContent-->

                    </div>

                    <button class = "booking-btn">開始預約行程</button>
                  

                </div><!--booking_area end-->


            </div><!--profile end -->      
     

        </div>
    </div><!--welcome end-->

    <hr/>

    <div class = "main">
        <div class = "content">
            <div class = "info"></div>
            <txt class = "booking-choose">景點地址 :</txt>
            <div class = "address"></div>

            <txt class = "booking-choose">交通方式 :</txt>
            <div class = "traffic"></div>



        </div>

    </div>







    <div class = "footer">
         
    </div>

</body>

<script type = "text/javascript"  src="/mysource/js/attraction.js"></script>
<script type = "text/javascript" src="{{ url_for('static', filename='js/user.js') }}"></script>
</html>