<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <meta meta name="viewport" content="width=device-width, initial-scale=1">
    <title>景點頁面</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/attraction.css') }}">


</head>
    
<style>
    @import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);
</style>

<body>
    <div class ="nav">
        <div class = "nav_bar">
            <txt class = "nav_title">
                台北一日遊
            </txt>

            <div class="top_buttum">
                <button class = "forNavigation" >預定行程</button><!-- link will be right in <a> -->                                   
                <button class = "forNavigation" >登入/註冊</button>                    
            </div>
        </div>
    </div>

    <div class = "welcome">
        <div class="section">
            <div class = "pic_box">
                <!-- <img class = "img-control" src="/mysource/G.jpg"/> -->
                <img class = "left-A" src="/mysource/left-A.png" />
                <img class = "right-A" src="/mysource/right-A.png"/>
                <div class = "circle-box">
                    <!-- <div class = "big-white">
                        <div class = "small-black"></div>
                    </div>
                    <div class = "big-white"> -->                        
                    <!-- </div> -->
                </div>
               


            </div>
            <div class="profile">
                <txt class = "name"></txt>

                <div class="detail">
                    <txt class="detail_text" id = "tag"></txt><!--塞tag-->
                    <txt class="detail_text">at</txt> <!--固定-->
                    <txt class="detail_text" id = "mrt"></txt><!--塞mrt-->
                </div>

                <div class = "booking_area">
                    <txt class = "booking-title">訂購導覽行程</txt>
                    <!-- <br />
                    <br /> -->
                    <p class = "booking-intro">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <div class = "booking-date">
                        <txt class = "booking-choose">訂購日期 :</txt>
                        <input type = "date" class = "calender"></input>
                    </div>

                    <div class = "booking-time">

                        <txt class = "booking-choose">選擇時間 :</txt>
                        <div class = "day-time">

                            <div class = "big-circle" id = "big-day">
                                <div class = "small-circle" id = "day"></div>
                            </div>
                            <txt class="what-time" >上半天</txt>
                            <div class = "big-circle" id = "big-night">
                                <div class = "small-circle" id = "night"></div>
                            </div>
                            <txt class="what-time" >下半天</txt>

                        </div>

                    </div>

                    <div class = "booking-fee">
                        <txt class = "booking-choose">導覽費用 :</txt>
                        <div class = "fee">新台幣2000元</div> <!--寫事件做改變費用textContent-->

                    </div>

                    <button class = "booking-btn">開始預約行程</button>
                  

                </div><!--booking_area end-->


            </div><!--profile end -->      
     

        </div>
    </div><!--welcome end-->

    <hr/>

    <div class = "main">
        <div class = "content">
            <div class = "info"></div>
            <txt class = "booking-choose">景點地址 :</txt>
            <div class = "address"></div>

            <txt class = "booking-choose">交通方式 :</txt>
            <div class = "traffic"></div>



        </div>

    </div>







    <!-- <div class = "footer">
         api 串進來都完成再用footer
    </div> -->

</body>

<script type = "text/javascript"  src="/mysource/attraction.js"></script>

</html>