<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <meta meta name="viewport" content="width=device-width, initial-scale=1">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/index.css') }}">


</head>

<style>
    @import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);
</style>

<body class = "body">
    <div class ="nav">
        <div class = "nav_bar">
            <a class = "back_home"  href = "/">
            <txt class = "nav_title" href = "/">
                台北一日遊
            </txt>
            </a>
            

            <div class="top_buttum">
                <button class = "forNavigation" id = "booking" >預定行程</button><!-- link will be right in <a> -->                                   
                <button class = "forNavigation" id = "login_signup" >登入/註冊</button>                    
            </div>
        </div>
    </div>

    <div class = "dialog-background" style="display: none;">
        <div class = "dialog-signup"   style="display : none ;">
            <div class = "decorator-bar"></div>
            <div class = "dialog-main" >
                <txt class = "dialog-title">
                    註冊會員帳號
                    <img class = "icon_close" src = "/mysource/img/icon_close.png" />
                </txt>
                <input class = "dialog-input" id = "name" type="text" name = "name" placeholder = "輸入姓名" required />
                <input class = "dialog-input" id = "email" type="text" name = "email" placeholder = "輸入email" required />
                <input class = "dialog-input" id = "password" type="password" name = "password" placeholder = "輸入密碼" required />                
                <button class = "signup" type="submit">註冊新帳戶</button>
                <!-- 預留插入警告<txt> -->
                <txt class = notice></txt>                
                <button class = "switch-login">已經有帳戶了?點此登入</button>
            </div>        
            

        </div>

        <div class = "dialog-login"  >
            <div class = "decorator-bar"></div>
            <div class = "dialog-main">
                <txt class = "dialog-title">
                    登入會員帳號
                    <img class = "icon_close_login" src = "/mysource/img/icon_close.png" />
                </txt>
                <input class = "dialog-input" id = "email-login" type="text" name = "email" placeholder = "輸入email" required />
                <input class = "dialog-input" id = "password-login" type="password" name = "password" placeholder = "輸入密碼" required />
                <button class = "login">登入帳戶</button>                
                <!-- 預留插入警告<txt> -->
                <txt class = notice-login></txt>
                <button class = "switch-signup">還沒有帳戶?點此註冊</button>
            </div>

        </div>
    </div> <!-- dialog-background -->

    


    <div class = "welcome" >

        <!-- <div id = "TP101" src="/mysource/welcomeTP101.jpg"></div> -->
        <!-- <img id = "TP101" width="100%" src="/mysource/welcomeTP101.jpg" /> -->
            <div class="slogan">
                <div class = "slogan_1" >
                    輕鬆享受台北一日悠閒
                    <br/>
                    <br/>
                    <br/>
                </div>                
                <span class = "slogan_2">探索每個角落，體驗城市的深度旅遊行程</span>
                
                
                <div class = "search_bar">
                    <input id = "input" class = "input" type = "search" placeholder="輸入景點名稱查詢" name = "search"  required /> <!--onclick ="show_tag();"-->
                    
                    <button class = "button_search"  type="submit"> <!--onclick = "keyword_view();"-->
                        <img src="/mysource/icon-search.png"/>
                    </button>
                    <div class = "locate_card">
                        <!-- <div class = "search_card" >
                            <button class = "search_text">測試四字</button> 改div試試
                            <button class = "search_text">測試四字</button>
                        </div> -->
                
                    </div>
    
                </div>
                




            </div>


        
    </div>



    <div class = "main">

             <!-- ATTN the radius every contents have -->
        <div class = "content-1">
            <!-- <div class = "square">
                <img id = "img-control" alt=""></img>
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div> -->

        </div>

    </div>

    <!-- main js -->
    
    


    <div class = "footer">
        <!-- <img class = "footer-pic" src="mysource/footer.jpg"/> -->
    </div>


</body>

<script type="text/javascript" src="mysource/js/index.js"></script>

</html>