<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <meta meta name="viewport" content="width=device-width, initial-scale=1">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/index.css') }}">


</head>

<style>
    @import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);
</style>

<body>
    <div class ="nav">
        <div class = "nav_bar">
            <txt class = "nav_title">
                台北一日遊
            </txt>

            <div class="top_buttum">
                <button class = "forNavigation" >預定行程</button><!-- link will be right in <a> -->                                   
                <button class = "forNavigation" >登入/註冊</button>                    
            </div>
        </div>
    </div>

    <div class = "welcome" >

        <!-- <div id = "TP101" src="/mysource/welcomeTP101.jpg"></div> -->
        <!-- <img id = "TP101" width="100%" src="/mysource/welcomeTP101.jpg" /> -->
            <div class="slogan">
                <div class = "slogan_1" >
                    輕鬆享受台北一日悠閒
                    <br/>
                    <br/>
                    <br/>
                </div>                
                <span class = "slogan_2">探索每個角落，體驗城市的深度旅遊行程</span>
                
                
                <div class = "search_bar">
                    <input class = "input" type = "text" placeholder="輸入景點名稱查詢" name = "search"  required />
                    <button class = "button_search"  >
                        <img src="/mysource/icon-search.png"/>
                    </button>
                </div>

            </div>
        
    </div>

    <div class = "main">
        <div class = "content"> <!-- for middle in 1200-->
             <!-- ATTN the radius every contents have -->
            <div class = "square-1">
                <img id = "img-control" alt=""></img>
                <!-- img will be here -->
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div>
            
            <div class = "square-2">
                <img id = "img-control" alt=""></img>
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div>

            <div class = "square-3" >
                <img id = "img-control" alt=""></img>
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div>

            
            <div class = "square-4">
                <img id = "img-control" alt=""></img>
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div>

            
            <div class = "square-5">
                <img id = "img-control" alt=""></img>
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div>

            
            <div class = "square-6">
                <img id = "img-control" alt=""></img>
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div>

            
            <div class = "square-7">
                <img id = "img-control" alt=""></img>
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div>

            
            <div class = "square-8">
                <img id = "img-control" alt=""></img>
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div>

            
            <div class = "square-9">
                <img id = "img-control" alt=""></img>
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div>

            
            <div class = "square-10">
                <img id = "img-control" alt=""></img>
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div>

            
            <div class = "square-11">
                <img id = "img-control" alt=""></img>
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div>

            
            <div class = "square-12">
                <img id = "img-control" alt=""></img>
                <div class = "title"></div>
                <div class = "detail">
                    <div class = "mrt"></div>
                    <div class = "tag"></div>
                </div>
            </div>






        </div>

    </div>

    <!-- main js -->
    <script type="text/javascript" src="mysource/index.js"></script>
    







    <div class = "footer">
        <!--看是要用圖片還是用打字的-->
    </div>






</body>

</html>